:root {
    --cor-principal: #121C66;
    --cor-secundaria: #21218F;
    --cor-terciaria: #2B2B33;
    --cor-branca: #FFFFFF;
    --cor-de-fundo: #0a192f;
    --cor-font-clara: #ccd6f6;
    --cor-font: #a8b2d1;
    --cor-font-verde: #64ffda;
    --font-primaria: 'Abhaya Libre';
    --font-secundaria: Arial, sans-serif;

    --header-height: 3rem;
    --body-font: 'Open Sans', sans-serif;
    --font-family-roboto: "Roboto Mono", "Fira Code", "Fira Mono", monospace;

}

.container_certificado {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    font-family: var(--font-family-roboto);
}

.certificado__introducao__div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15%;
}

.certificado__introducao {
    font-size: 2rem;
    color: var(--cor-font-clara);
    padding: 1rem;
}

.decoracao__certificado {
    background-color: var(--cor-font);
    width: 300px;
    height: 1px;
    margin: 0;
    border: none;
    opacity: 0.5;
    margin-right: 2rem;
}

.certificado__conteudo {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}

.certificado__span {
    color: var(--cor-font-verde);
}

.sidebar {
    width: 200px;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.sidebar ul li {
    width: 150px;
    border: 1px solid var(--cor-font-verde);
    border-radius: 5px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.sidebar ul li a:hover {
    color: var(--cor-font-verde);
}

.main-content {
    display: flex;
    align-items:  center;
    padding-top: 1rem;
}

.main-content img {
    width: 600px;
}
