:root {
    --cor-principal: #121C66;
    --cor-secundaria: #21218F;
    --cor-terciaria: #2B2B33;
    --cor-branca: #FFFFFF;
    --cor-de-fundo: #0a192f;
    --cor-de-fundo-texto: #112240;
    --cor-font-clara: #ccd6f6;
    --cor-font: #a8b2d1;
    --cor-font-verde: #64ffda;
    --font-primaria: 'Abhaya Libre';
    --font-secundaria: Arial, sans-serif;

    --header-height: 3rem;
    --body-font: 'Open Sans', sans-serif;
    --font-family-roboto: "Roboto Mono", "Fira Code", "Fira Mono", monospace;
    --font-family-calibre: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
}


.contato {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contato__div {
    width: 40%;
    margin-top: 5rem;
}

.contato__introducao {
    color: var(--cor-font-verde);
    font-family: var(--font-family-roboto);
    font-size: 1rem;
}

.contato__titulo {
    color: var(--cor-font-clara);
    font-size: 2.5rem;
}

.contato__texto {
    color: var(--cor-font);
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 20px;
}

.contato__area__botao {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contato__botao {
    color: var(--cor-font-verde);
    font-size: 1rem;
    border: 1px solid var(--cor-font-verde);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 1rem 0 4rem 0;
    font-family: var(--font-family-roboto);
    cursor: pointer;
}

.contato__botao:hover {
    transform: translateX(-2px) translateY(-2px);
}

.footer {
    width: 100vw;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 3rem 1rem 0;
    padding: 0;
}

.footer__texto {
    width: 20%;
    color: var(--cor-font);
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    line-height: 20px;
}

.footer:hover a{
    color: var(--cor-font-verde);
}

@media only screen and (max-width: 1024px) {}

@media screen and (max-width: 900px) {
    .contato {
        width:100vw;
        height: auto;
    }

    .contato__div {
        width: 100%;
        margin: 8rem 0 5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .contato__titulo {
        margin: 2rem 1rem;
        font-size: 2rem;
    }

    .contato__texto {
        width: 70%;
        font-size: 1.3rem;
        line-height: 1.5rem;
        letter-spacing: 1.5wwwwpx;
    }

    .contato__botao {
        margin: 1rem 0 0 0;
    }

    .contato__introducao {
        font-size: 1.2rem;
    }

    .footer {
        width: 100vw;
        margin: 6rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__texto {
        width: 58%;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 770px) and (min-width: 760px) {}


@media screen and (max-width: 580px) {
    :root {
        --font-size-titulo: 1.8rem;
        --font-size-subtitulo: 1.5rem;
        --font-size-texto: 0.9rem;
        --font-size-titulo_img: 1rem;
    }

    .contato {
        width:100vw;
        height: auto;
    }

    .contato__div {
        width: 100%;
        margin: 8rem 0 5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .contato__titulo {
        margin: 0 0 2rem 0;
        font-size: var(--font-size-subtitulo);
    }

    .contato__introducao {
        font-size: var(--font-size-texto);
    }

    .contato__texto {
        width: 80%;
        font-size: var(--font-size-texto);
    }

    .contato__botao {
        margin: 1rem 0 0 0;
        padding: 1.2rem;
        font-size: var(--font-size-texto);
    }

    .footer {
        width: 100vw;
        margin: 6rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__texto {
        width: 80%;
        font-size: var(--font-size-texto);
    }

}